.themeSwitcher {
  background: none;
  border: 1px solid var(--border);
  color: var(--foreground);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--background);
    opacity: 0.8;
  }
}
